# EC2 CloudWatch Alarms

{% set resource_type = resource_type %}
{% set resource_name = resource_name %}
{% set namespace = "AWS/EC2" %}
{% set alarm_action = alarm_action %}

# CPU Utilization Alarm for EC2
{% set metric_name = "CPUUtilization" %}
{% set dimensions = [{"Name": "InstanceId", "Value": instance_id}] %}
{% set threshold = cpu_threshold | default(80) %}
{% set comparison_operator = "GreaterThanOrEqualToThreshold"  %}
{% include "cloudwatch_alarm_root.j2" %}

# Memory Utilization Alarm for EC2
{% set metric_name = "MemoryUtilization" %}
{% set threshold = memory_threshold | default(80) %}
{% set comparison_operator = "GreaterThanOrEqualToThreshold"  %}
{% include "cloudwatch_alarm_root.j2" %}

# Status Check Failed Alarm for EC2
{% set metric_name = "StatusCheckFailed" %}
{% set threshold = status_threshold | default(1) %}
{% set comparison_operator = "GreaterThanOrEqualToThreshold"  %}
{% include "cloudwatch_alarm_root.j2" %}

# Disk Space Utilization Alarm for EC2
{% set metric_name = "DiskSpaceUtilization" %}
{% set dimensions = [{"Name": "InstanceId", "Value": instance_id}] %}
{% set threshold = disk_threshold | default(80) %}
{% set comparison_operator = "LessThanOrEqualToThreshold"  %}
{% include "cloudwatch_alarm_root.j2" %}
