# Root CloudWatch Alarm Template for {{ resource_type }}
# {{ resource_name }} - {{ metric_name }}

- name: Create CloudWatch Alarm for {{ metric_name }}
  amazon.aws.cloudwatch_metric_alarm:
    name: "{{ resource_name }}-{{ metric_name }}-Alarm"
    state: "{{ state }}"
    metric: "{{ metric_name }}"
    namespace: "{{ namespace }}"
    statistic: "{{ statistic }}"
    comparison: "{{ comparison_operator }}"
    threshold: "{{ threshold }}"
    period: "{{ period }}"
    evaluation_periods: "{{ evaluation_periods }}"
    unit: "{{ unit }}"
    alarm_actions:
      - "{{ sns_topics }}"
    ok_actions:
      - "{{ sns_topics }}"
    dimensions:
{% for dimension in dimensions %}
      Name: "{{ dimension.Name }}"
      Value: "{{ dimension.Value }}"
{% endfor %}
    description: "Alarm for {{ metric_name }} on {{ resource_name }}"
